<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>안녕하세요, 저는 백엔드 1회차 수강생 박정현 입니다.</h1>
    <nav>
        <ul>
            <li><a href="#about">소개</a></li>
            <li><a href="#skills">기술</a></li>
            <li><a href="#contact">연락처</a></li>
        </ul>
    </nav>
</header>

<main>
    <section id="about">
        <h2>소개</h2>
        <p>저는 백엔드 공부를 열심히 하고 있고, 발전하는 개발자가 되는게 목표입니다.</p>
    </section>

    <section id="skills">
        <h2>기술</h2>
        <article>
            <h3>프로그래밍 언어</h3>
            <p>Java, SQL</p>
        </article>
        <article>
            <h3>프레임워크</h3>
            <p>Spring</p>
        </article>
    </section>
</main>

<footer>
    <section id="contact">
        <h2>연락처</h2>
        <address>
            Email: <a>qkrwjdgus1441@naver.com</a><br>
        </address>
    </section>
</footer>
</body>
</html>
